.dev-sub-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 40px 24px;
}

.dev-sub-content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
